cluster based on, ratings, demographic (income, population count,etc)
classify for ratings?

https://beautiful-soup-4.readthedocs.io/en/latest/

In [1]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd

In [89]:
website='https://en.wikipedia.org/wiki/Demographics_of_New_York_City'
file=urllib.request.urlopen(website);
htmlContent=file.read().decode('utf8')
file.close()

soup=BeautifulSoup(htmlContent,'html.parser')
tables=soup.find_all('table');
# print(tables)

In [36]:
def textOnly(string):
    return string.rstrip().lstrip();

In [65]:
populationDict={}

firstTable=tables[0]
columnNames=firstTable.findAll('th')
for i in range(6,15):
    populationDict[columnNames[i].text]=[]

print(populationDict)

{'Borough': [], 'County': [], 'Estimate (2019)[12]': [], 'billions(US$)[13]': [], 'per capita(US$)': [], 'square miles': [], 'squarekm': [], 'persons / sq. mi': [], 'persons /km2\n': []}

In [69]:
rows=firstTable.findAll('tr')

for i in range(3,8):
    row=rows[i].findAll('td')
    for value,s in zip(row,list(populationDict.keys())):
        populationDict[s].append(textOnly(value.text));
print(populationDict)

{'Borough': ['The Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'], 'County': ['Bronx', 'Kings', 'New York', 'Queens', 'Richmond'], 'Estimate (2019)[12]': ['1,418,207', '2,559,903', '1,628,706', '2,253,858', '476,143'], 'billions(US$)[13]': ['42.695', '91.559', '600.244', '93.310', '14.514'], 'per capita(US$)': ['30,100', '35,800', '368,500', '41,400', '30,500'], 'square miles': ['42.10', '70.82', '22.83', '108.53', '58.37'], 'squarekm': ['109.04', '183.42', '59.13', '281.09', '151.18'], 'persons / sq. mi': ['33,867', '36,147', '71,341', '20,767', '8,157'], 'persons /km2\n': ['13,006', '13,957', '27,544', '8,018', '3,150']}

In [92]:
#create pandas df
population=pd.DataFrame(populationDict,columns=list(populationDict.keys()))

#drop all but population and density
index=[1,3,4,5,6,8]
population.drop(population.columns[index],axis=1,inplace=True)
population.rename(columns={'Estimate (2019)[12]':'Population','persons / sq. mi':'Density (persons / sq. mi)'}, inplace=True)
population

         Borough Population Density (persons / sq. mi)
0      The Bronx  1,418,207                     33,867
1       Brooklyn  2,559,903                     36,147
2      Manhattan  1,628,706                     71,341
3         Queens  2,253,858                     20,767
4  Staten Island    476,143                      8,157

In [95]:
#income
print(tables[6])

<table class="wikitable sortable" style="text-align:right;">
<tbody><tr>
<th>Area
</th>
<th><a href="/wiki/Household_income_in_the_United_States#Median_income" title="Household income in the United States">Median<br/>House-<br/>hold<br/>Income</a><br/>
</th>
<th><a href="/wiki/Household_income_in_the_United_States#Mean_income" title="Household income in the United States">Mean<br/>House-<br/>hold<br/>Income</a><br/>
</th>
<th>Percent-<br/>age in <br/>Poverty
</th></tr>
<tr>
<td><a href="/wiki/The_Bronx" title="The Bronx">The Bronx</a>
</td>
<td>$34,156
</td>
<td>$46,298
</td>
<td>27.1%
</td></tr>
<tr>
<td><a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn</a>
</td>
<td>$41,406
</td>
<td>$60,020
</td>
<td>21.9%
</td></tr>
<tr>
<td><a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>
</td>
<td>$64,217
</td>
<td>$121,549
</td>
<td>17.6%
</td></tr>
<tr>
<td><a href="/wiki/Queens" title="Queens">Queens</a>
</td>
<td>$53,171
</td>
<td>$67,027
</td>
<td>12.0%
</td></tr>
<tr>
<td><a href="/wiki/Staten_Island" title="Staten Island">Staten Island</a>
</td>
<td>$66,985
</td>
<td>$81,498
</td>
<td>9.8%
</td></tr>
<tr bgcolor="eeffee">
<td><a href="/wiki/New_York_City" title="New York City">New York City</a>
</td>
<td>$48,631
</td>
<td>$75,809
</td>
<td>18.5%
</td></tr>
<tr bgcolor="ddeedd">
<td><a class="mw-redirect" href="/wiki/New_York_State" title="New York State">New York State</a>
</td>
<td>$53,514
</td>
<td>$77,865
</td>
<td>13.7%
</td></tr>
<tr bgcolor="ccddcc">
<td><a href="/wiki/United_States" title="United States">United States</a>
</td>
<td>$50,140
</td>
<td>$69,193
</td>
<td>13.0%
</td></tr></tbody></table>